{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<a style="font-size: xx-large; color: black; padding: 20px;" href="\admin\register">Register New Users</a>
<a style="font-size: xx-large; color: black; padding: 20px;" href="\admin\resetDB">Reset DATABASE</a>
<a style="font-size: xx-large; color: black; padding: 20px;" href="\admin\allusers">Users</a>
<a style="font-size: xx-large; color: black; padding: 20px;" href="\login\logout">Logout</a>
<p style="font-weight: bolder; font-size: xxx-large; padding: 20px;">Server's</p>
<div class="servers">
	<a href="\servers\7c-smp" style="font-size: 30px; padding: 20px; padding-top: 0px; color: black;">7C SMP</a>
	<a href=""></a>
	<a href=""></a>
</div>
{% endblock %}