{% extends "base.html" %}
{% block title %}Diamonds in Lava{% endblock %}
{% block content %}
<span style="padding: 20px; margin-top: 50px;font-size: 48px; font-weight: 500;">Diamonds in Lava</span>
<img src="\static\images\diamond.png" style="width: 64px; height: 66px; margin-top: 0px;">
<br>
<a style="margin-top: 20px; margin-left: 20px; margin-bottom: 10px;font-size: xx-large; outline: 0px transparent;color: #000000;" href="/servers/7c-smp/start">Start Server</a>
<br>
<div class="dropdown-divider" style="margin-left: 20px; margin-right: 20px;"></div>
<a href="\user" style="margin-top: 20px; margin-left: 20px; font-size: xx-large; color: #000000;">Return to Area</a>
{% endblock %}