{% extends "base.html" %}
{% block content %}
<h1 style="margin-top: 100px; margin-left: 150px;">Welcome To My Server Management Web Page</h1>
<h3 style="margin-left: 150px;"> - Gustavo</h3>
<img style="width: 256px; height: 256px; margin-left: 320px; padding: 20px;" onclick="location.href='https://www.raspberrypi.org/'"src="\static\images\pi.png">
<p style="text-align: right; font-size: 25px">Running on a Pi</p>
<p style="text-align: right; font-size: 25px">Like me i am a cutie pie :)</p>
{% endblock %}