{% extends "base.html"%}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages %}
            <p style="font-size: x-large; padding: 20px;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post" style="width: 250px; height: 50%;">
    <p style="margin-left: 20px; margin-top: 20px; font-size:xx-large">Name:</p>
    <p style="margin-left: 20px;"><input type="text" name="nm" autocomplete="off"></p>
    <p style="margin-left: 20px; margin-top: 20px; font-size:xx-large">Password:</p>
    <p style="margin-left: 20px;"><input type="password" name="ps" autocomplete="off"></p>
    <p style="margin-left: 20px;"><input type="submit" value="Submit"></p>
</form>
{% endblock %}